/* .styled-text{
    background-color: var(--bgColor_prim_red);
    color: var(--color_white);
    padding: 0 2px;
  } */

p,
li {
  color: var(--color_sec_black);
}

.gap-4 {
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-9 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.scaleable-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}




.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}


.center-two-ele-in-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    flex: 0 0 calc(33% - 20px);
    padding: 24px;
  }
}


.center-two-ele-in-with-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin: 20px;
  padding: 20px;
}

/* .center-two-ele-in-with-grid .item{
    grid-column: span 2;
  }
  
  .center-two-ele-in-with-grid .item:nth-last-child(1){
    background-color: pink;
  }
  .center-two-ele-in-with-grid .item:nth-last-child(2){
    background-color: var(--bgColor_prim_red);;
  }
  Note: Selecting the 2nd last item then-->> 4th grid item is ending at the 4th column 
  .center-two-ele-in-with-grid .item:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
  .center-two-ele-in-with-grid .item:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  } 
  */




/* ---------------------- Cards Css  ------------------------ */

.card-utilities {
  border-radius: 6px;
  border: 1px solid var(--color_light_grey);
  background: var(--bgColor_white);
  overflow: hidden;
}

.default-card {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.industrues-card {
  border-radius: 6px;
  border: 1px solid var(--color_light_grey);
}

.lg-card {
  padding: 60px;
}

.color-white p {
  color: var(--color_white);
}



// ====================================================================================================

.hero {
  .content {
    padding-left: calc(100% - 575px);

  }
}

// ====================================================================================================

.empowerment {
  p {
    font-size: 28px;
    letter-spacing: -1.4px;
  }
}


// ====================================================================================================



.team-wrapper {
  height: 310px;
  width: 100%;
}


.team-card {
  position: relative;

  &:hover .team-content-overlay {
    height: 100%;
  }

}

.team-avatar-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.team-content-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bgColor_white);
  opacity: 0.88;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .4s ease;

  span {
    max-width: 72px;
    height: 4px;
    border-radius: 3px;
    display: block;
    margin: auto;
  }

}


.cs-thumbnail-wrapper {
  height: 280px;
  border-radius: 6px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.client-avatar-wrapper {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featuredCtaVersion-2 {
  img {
    position: static;
  }
}

.rendered-list {
  p {
    display: flex;
    gap: 8px;
    margin: 8px 0;
  }
}

.expert-avatar-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.cta-card {
  background-color: var(--bgColor_dark_grey);
  border-radius: 4px;
  padding: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-grow: 1;

  p {
    color: var(--color_white);
  }

  img {
    margin: auto;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  &:hover {
    background-color: var(--bgColor_prim_red);
  }


  &.active {
    background-color: var(--bgColor_white) !important;

    img {
      filter: brightness(1) invert(0);
    }

    p {
      color: var(--bgColor_prim_red) !important;
    }
  }


}

.techs-stacks {
  img {
    filter: grayscale(100%);
    cursor: pointer;

    &:hover {
      filter: grayscale(0%);
    }
  }
}


.stats {
  display: flex;
  justify-content: space-between;

  .stats-card {
    img {
      position: absolute;
      left: 0;
      top: 8px;
    }

    &>div {
      padding-left: 56px;
    }
  }

}

.stats-v2 {
  .stats-card {
    padding: 32px 0;
    border-bottom: 2px solid var(--color_prim_black);
  }

  .stats-card:last-child {
    border-bottom: 0;
  }
}

.invert {
  filter: invert(100%);
}

.left-full-box {
  padding: 120px 80px;

}

.right-full-box {
  padding: 40px 80px;
}




.cta-team-pic {
  position: absolute;
  bottom: 0;
}

.cta-cards-wrapper {
  flex-wrap: wrap;
}



.locations-map {
  position: absolute;
  right: -150px;
  width: 900px;
  top: 0;
}

.vw-map {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 440px;
    right: 0;
    background-image: linear-gradient(90deg, var(--color_normal_grey), rgb(255 255 255 / 0%));
    width: 40%;
    height: 71%;
    bottom: 0;
    z-index: 1;
  }

  &.bgColor-tertiary-black::before {
    background-image: linear-gradient(90deg, #091D28, transparent);

  }
}



.lead-collection {
  position: relative;
  margin-bottom: -128px;
}

.error {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 9;
}


/* ========================================================================================== */


.article-thumbnail-wrapper {
  height: 180px;
  overflow: hidden;
  border-radius: 6px 6px 0 0;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.article-content-wrapper {
  display: flex;
  flex-direction: column;

  h6 {
    min-height: 72px;
  }
}

.blog-thumbnail-wrapper {
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid var(--bgColor_light_grey);
}

.popular-blog-wrapper {
  height: 96px;
}


/* ========================================================================================== */

.cats {

  display: flex;
  // justify-content: center;
  gap: 8px;
  flex-wrap: wrap;

  li {
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: var(--bgColor_prim_red);
      color: var(--color_white);
    }
  }

}


.ctas_wrapper span:last-child span {
  display: none;
}


.blog-subscription-form {
  input {
    background-color: var(--bgColor_sec_black);
    max-width: 612px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sproject-list {

  &>ul>li>ul {
    margin-top: 8px;
  }

  &>ul>li {
    margin-bottom: 16px;
  }

  li {
    position: relative;
    padding-left: 18px;
    line-height: 1.6;

    span {
      font-size: 12px;
      color: var(--color_intense_grey);
    }

  }

  ul li::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--bgColor_intense_grey);
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 9;
    transform: rotate(45deg);
  }

  ul li ul li::before {
    width: 6px;
    height: 6px;
    background-color: var(--bgColor_light_grey);
  }

}


#contact_page {
  .lead-collection {
    margin-bottom: 0;
    padding: 120px 0;
  }

}





/* ===============================This is Raw CSS for project Filters===================================================== */

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 30pt;
  font-weight: normal;
}

.project-title {
  font-size: 16pt
}

.filter {
  padding: 6px 6px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.35s;

  &.active {
    box-shadow: 0 1px 3px 0 var(--bgColor_sec_black);
  }

  &:hover {
    background: lightgray;
  }


}

.projects {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-enter {
  transform: scale(0.5) translateY(-80px);
  opacity: 0;
}

.projects-leave-to {
  transform: translateY(30px);
  opacity: 0;
}

.projects-leave-active {
  position: absolute;
  z-index: -1;
}

.circle {
  text-align: center;
  position: absolute;
  bottom: -38px;
  left: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  box-shadow: 0 -4px 3px 0 #494d3257;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor_white);
}

.project {
  transition: all .35s ease-in-out;
  margin: 10px;
  box-shadow: 0 2px 8px lightgrey;
  border-radius: 3px;
  width: 180px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}

.project-image-wrapper {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  opacity: 0.09;
  background:
    linear-gradient(to bottom, rgba(0, 210, 247, 0.65) 0%, rgba(0, 210, 247, 0.64) 1%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to top, rgba(247, 0, 156, 0.65) 0%, rgba(247, 0, 156, 0.64) 1%, rgba(0, 0, 0, 0) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.project-image {
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


// ==================================================================================


#single-blog-post {
  h1 {
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
    margin: 40px 0 12px;
    color: var(--color_tert_black);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }

  h3 {
    margin: 40px 0 12px;
    color: var(--color_dark_grey);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }

  h4 {
    margin: 24px 0 12px;
    font-size: 20px;
    color: var(--color_dark_grey);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }

  h5 {
    margin: 24px 0 12px;
    font-size: 18px;
    color: var(--color_dark_grey);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }


  p {
    margin-bottom: 16px;
    font-size: 18px;
  }

  a {
    color: var(--bgColor_prim_red);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 24px;

    li {
      position: relative;
      padding-left: 16px;
      margin-left: 16px;
      font-size: 18px;
      line-height: 1.6;

      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 8px;
        background-color: var(--bgColor_prim_red);
        width: 8px;
        height: 8px;
        z-index: 9;
        transform: rotate(45deg);
      }
    }
  }

}

.kumoCore_title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bzOpeningsList {

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  .bzOpening {
    width: 23%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--bgColor_light_grey);
    position: relative;
    transition: box-shadow 0.3s ease 0s;

    &:hover {
      box-shadow: 0 4px 20px 0 rgba(167, 163, 182, 0.45);
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;

      h2 {
        font-size: 20px;
        margin-bottom: 12px;
        color: var(--bgColor_prim_black);
      }

      .bzMeta {
        padding-left: 20px;
        flex-grow: 1;
        margin: 0 0 16px;

        li {
          position: relative;

          &::before {
            content: " ";
            position: absolute;
            left: -16px;
            top: 8px;
            background-color: var(--bgColor_prim_red);
            width: 8px;
            height: 8px;
            z-index: 9;
            transform: rotate(45deg);
          }
        }
      }

      button {
        order: 3;
        font-weight: 600;
        color: var(--bgColor_prim_red);

        &:hover {
          text-decoration: underline;
        }
      }

    }




  }

}