

.max-w-4\/5{
  /* max-width: 88%; */
}

.gap-4 {
  gap: 1rem;
}

  
  
p, li{
  color:#5E5F64;
}




.hero .content{
  padding-left: calc(100% - 575px);

}

/* .styled-text{
  background-color: #EB4042;
  color: #fff;
  padding: 0 2px;
} */

.flex-grow-1{
  flex-grow: 1;
}

.v-center{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.line-clamp-1{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.line-clamp-3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.color-white p{
  color: #fff;
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}



/* ---------------------- Cards Css  ------------------------ */

.card-utilities{
  border-radius: 6px;
  border: 1px solid #DCDFEC;
  background: #fff;
  overflow: hidden;
}
.default-card {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.lg-card{
  padding:60px;
}
.empowerment p{
  font-size: 28px;
  letter-spacing: -1.4px;
}

.team-wrapper{
  height: 310px;
  width: 100%;
}
.team-avatar-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*  ----------------- Forms Css ---------------- */

.form-control{
  font-size: 14px;
  height: 50px;
  padding: 12px 16px;
  background-color: #fff;
  border-radius: 1px;
  color: #000;
}
.form-control:focus{
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

textarea.form-control{
  height: auto;
}
.lead-collection{
  position: relative;
  margin-bottom: -128px;
}

.team-card{
  position: relative;
}
.team-content-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#FFFFFF;
  opacity: 0.88;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .4s ease;
}
.team-content-overlay span{
  max-width: 72px;
  height: 4px;
  border-radius: 3px;
  display: block;
  margin: auto;
}
.team-card:hover .team-content-overlay {
  height: 100%;
}

.stats{
  display: flex;
  justify-content: space-between;
}

.stats-card img{
  position: absolute;
  left: 0;
  top: 18px;
}
.stats-card>div{
  padding-left: 56px;
}


.cs-thumbnail-wrapper{
  height: 280px;
  border-radius: 6px;
  overflow: hidden;
}
.cs-thumbnail-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.client-avatar-wrapper{
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;
}
.client-avatar-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.success-stories-slider .slick-slide {
  padding: 0 24px;
}

.slick-prev::before, .slick-next::before {
  font-family: inherit !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  opacity: 1 !important;
  color: #5E5F64 !important;

}

.slick-prev, .slick-next{
  width: 64px !important;
  height: 64px !important;
  background: #fff !important;
  border-radius: 6px;
  filter: drop-shadow(0 8px 20px rgba(223, 75, 73, 0.10));
}
.slick-prev {
  left: -112px !important;
}
.slick-next {
  right: -112px !important;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: #EB4042;
  background: #fff !important;
}

.slick-arrow:hover::before{
  color: #EB4042 !important ;
}
.slick-track {
  padding: 12px 0;
}

.slick-dots li button::before{
  font-size: 12px !important;
  color: #F49E9F !important;
  opacity: 1 !important;

}
.slick-dots li.slick-active button:before{
  color: #EB4042 !important;
  opacity: 1 !important;
  font-size: 24px !important;
  margin: 0 -5px;
}

.our-team-slider .slick-slide {
  padding:0 8px;
}
.center-slider .slick-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
  padding: 12px;
}
.center-slider .slick-slide,
.center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(0.9, 0.9);
  transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.center-slider .slick-center,
.center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1.1);

}
.center-slider .slick-current.slick-active{
  transform: scale(1.1);

}
.center-slider .slick-current.slick-active .testimonial-card{
  box-shadow: 0px 4px 20px 0px rgba(167, 163, 182, 0.45);
}

.center-slider .slick-track {
  padding: 12px 0 64px;
}

.cta-team-pic{
  position: absolute;
  bottom: 0;
}

.cta-cards-wrapper{
  flex-wrap: wrap;
}
.cta-card{
  background-color: #3A4A53;
  border-radius: 4px;
  padding: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-grow: 1;

}
.cta-card p{
  color: #fff;
}
.cta-card.active{
  background-color: #fff !important;
}

.cta-card.active p{
  color: #EB4042 !important;
}


.cta-card img{
  margin: auto;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.cta-card.active img{
  filter: brightness(1) invert(0);
}
.cta-card:hover{
  background-color: #D9393B;
}

.industrues-card {
  border-radius: 6px;
  border: 1px solid #DCDFEC;
}

.locations-map{
  position: absolute;
  right: -150px;
  width: 900px;
  top: 0;
}
.vw-map{
  position: relative;
}
.vw-map::before{
  content: '';
  position: absolute;
  left: 440px;
  right: 0;
  background-image: linear-gradient(90deg, #F6F6F7, rgb(255 255 255 / 0%));
  width: 40%;
  height: 76%;
  bottom: 0;
  z-index: 1;
}

.vw-map.bgColor-tertiary-black::before{
  background-image: linear-gradient(90deg,   #091D28, rgb(255 255 255 / 0%));

}
.rendered-list p{
  display: flex;
  gap:8px;
  margin:8px 0;
}

.five_chars{
  /* width: 82px;
  overflow: hidden;
  white-space: nowrap; */
}




.center-two-ele-in-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.center-two-ele-in-grid .item{
  flex: 0 0 calc(33% - 20px);
  padding: 24px;
}
.center-two-ele-in-with-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin: 20px;
  padding: 20px; 
}


/* .center-two-ele-in-with-grid .item{
  grid-column: span 2;
}

.center-two-ele-in-with-grid .item:nth-last-child(1){
  background-color: pink;
}
.center-two-ele-in-with-grid .item:nth-last-child(2){
  background-color: red;
}
Note: Selecting the 2nd last item then-->> 4th grid item is ending at the 4th column 
.center-two-ele-in-with-grid .item:nth-last-child(2):nth-child(3n + 1) {
  grid-column-end: 4;
}
.center-two-ele-in-with-grid .item:last-child:nth-child(3n - 1) {
  grid-column-end: -2;
} 
*/

.expert-avatar-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/* ========================  Consulting Service timeline CSS  ============================= */

.consulting_timeline{
  position: relative;
}
.consulting_timeline::after{
  content: "";
  background-color: #F49E9F;
  height: 20px;
  border-radius: 32px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
}
.consulting_timeline .approach_wrapper{
  padding: 24px;

}
.consulting_timeline .approach_wrapper .steps_wrapper {
  margin-top: 32px;
  padding-top: 64px;
  position: relative;
}
.consulting_timeline .approach_wrapper .steps_wrapper::before{
  content: "";
  height: calc(100% - 80px);
  width: 2px;
  position: absolute;
  left: 20px;
  top: 0;
  border-left: 3px dotted #fff;
}
.consulting_timeline .approach_wrapper .steps_wrapper::after {
  content: "";
  height: 32px;
  width: 32px;
  position: absolute;
  left: 6px;
  top: -8px;
  background-color: #F49E9F;
  border-radius: 100%;
  z-index: 9;
  border: 6px solid #fff;

}
.consulting_timeline .approach_step{
  position: relative;
  margin-top: 32px;
  padding-left: 56px;
}
.consulting_timeline .approach_step span{
  position: absolute;
  background: #EB4042;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  line-height: 38px;
  left: 0;
  top: -8px;
  font-weight: 600;
}

/* ========================================================================================  */



.teams_approach_timeline{
  white-space: nowrap;
  overflow: hidden;
}
.teams_approach_timeline .approach_wrapper{
  font-size: 0;
  width: 100%;
  padding: 250px 0;
  transition: all 1s;

}
.teams_approach_timeline .approach_step{
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 12.3%;
  height: 20px;
  background: #F49E9F;
}
.teams_approach_timeline .approach_step .inner-content div{
  padding-left: 76px;
}
.teams_approach_timeline .approach_step span{
  position: absolute;
  background: #EB4042;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  display: inline-block;
} 
.teams_approach_timeline .approach_step .inner-content {
  position: absolute;
  width: 220px;
  white-space: normal;
}

.teams_approach_timeline .approach_step:first-child{
  border-radius: 32px 0 0 32px;
}

.teams_approach_timeline .approach_step:last-child{
  border-radius: 0 32px 32px 0;
}
.teams_approach_timeline .approach_step .inner-content::before{
  content: "";
  width: 2px;
  position: absolute;
  left: 25px;
  top: 0;
  border-left: 3px dotted #fff;
}
.teams_approach_timeline .approach_step::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  bottom: 0;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F49E9F;
  border: 4px solid #fff;
}
.teams_approach_timeline .approach_step:nth-child(odd) .inner-content{
  top: -64px;
  transform: translateY(-100%);
}
.teams_approach_timeline .approach_step:nth-child(even) .inner-content{
  top: calc(100% + 64px);
  left: -50px;
}
.teams_approach_timeline .approach_step:nth-child(even) .inner-content::before{
  height: 110px;
  top: -68px;
}
.teams_approach_timeline .approach_step:nth-child(odd) .inner-content::before{
  height: calc(100% + 78px);
}
.teams_approach_timeline .approach_step:nth-child(even)::after{
  left: -40px;
}
.teams_approach_timeline .approach_step:nth-child(odd)::after{
  left: 10px;
}


/* ========================================================================================== */

.featuredCtaVersion-2 img{
  position: static;
}
.article-thumbnail-wrapper{
  height: 180px;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}
.article-content-wrapper{
  display: flex;
  flex-direction: column;
}



/* ========================================================================================== */





.techs-stacks img{
  filter: grayscale(100%);
  cursor: pointer;
}
.techs-stacks img:hover{
  filter: grayscale(0%);
}


.error{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 9;
}

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.blog-thumbnail-wrapper {
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
}

.scaleable-img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cats{
  display: flex;
  justify-content: center;
  gap:8px;
  flex-wrap: wrap;
}
.cats li{
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  /* flex-grow: 1; */
}
.cats li:hover, .cats li.active{
  background-color: #EB4042;
  color: #fff;
}
.ctas_wrapper span:last-child span{
  display:none;
}




#contact_page .lead-collection {
  margin-bottom: 0;
  padding: 120px 0;
}







.title-container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.title {
	font-family: 'Dawning of a New Day', cursive;
	font-size:30pt;
	font-weight:normal;
}

.project-title {
font-size:16pt	
}

.filter {
	font-family:arial;
	padding: 6px 6px;
	cursor:pointer;
	border-radius: 6px;
	transition: all 0.35s;
}

.filter.active {
	box-shadow:0px 1px 3px 0px #00000026;
}

.filter:hover {
	background:lightgray;
} 

.projects {
	margin-top:25px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.projects-enter {
	transform: scale(0.5) translatey(-80px);
	opacity:0;
}

.projects-leave-to{
	transform: translatey(30px);
	opacity:0;
}

.projects-leave-active {
	position: absolute;
	z-index:-1;
}

.circle {
	text-align:center;
	position:absolute;
	bottom:-38px;
	left:40px;
	width:100px;
	height:100px;
	border-radius:50px;
/* 	border:1px solid black; */
	display:flex;
	box-shadow: 0px -4px 3px 0px #494d3257;
	justify-content:center;
	align-items:center;
	background-color:#fff;
/* 	box-shadow:0px -3px 3px #484848a6; */
}

.project {
	transition: all .35s ease-in-out;
	margin:10px;
	box-shadow:0px 2px 8px lightgrey;
	border-radius:3px;
	width:180px;
	height:200px;
	display:flex;
	flex-direction:column;
	align-items:center;
  float: left;
}

.project-image-wrapper {
	position:relative;
}

.gradient-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:150px;
	opacity:0.09;
	background: 
		linear-gradient(to bottom, rgba(0,210,247,0.65) 0%,rgba(0,210,247,0.64) 1%,rgba(0,0,0,0) 100%), 
		linear-gradient(to top, rgba(247,0,156,0.65) 0%,rgba(247,0,156,0.64) 1%,rgba(0,0,0,0) 100%);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.project-image {
	width:100%;
	height:150px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}