/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* add fonts here */
@import '~assets/css/fonts.css';

@import '~assets/css/typography.css';
@import '~assets/css/colors.css';

@import '~assets/css/header.css';
@import '~assets/css/footer.css';

@import '~assets/css/buttons.css';
@import '~assets/css/spacing.css';
@import '~assets/css/general.css';

@import '~assets/css/animations.css';


*,body {
  font-family: 'Inter', sans-serif !important;
}

h1, h2{
  line-height: 1.2 !important;
}


.border-graident::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.5rem;
  padding: 1px;
  background: linear-gradient(45deg, #ff002e, #0500ff);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  mask-composite: exclude;
}
.border-graident-thick::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.5rem;
  padding: 5px;
  background: linear-gradient(45deg, #ff002e, #0500ff);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  mask-composite: exclude;
}

.overlapped-section{
  padding-top: 300px !important;
  position: relative;
  margin-top: -300px;
  z-index: -1;
}

.truncate-3-lines{
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.markdown{
  text-align: left;
  color: #555C6B;
}
.markdown p{
  margin: 12px 0;
  font-size: 18px;
}
.markdown img{
  border-radius: 0.5rem;
  margin: 16px 0;
}
.blog-description p{
  color: #555C6B;
  font-size: 18px;
  margin-top: 1rem;
}
.blog-description p a{
  color: #e73f41;
}
.blog-and-webinar{
  display: flex;
  flex-direction: column-reverse;
}

#career h1,
#contact h1,
#our-work h1,
#services h1,
#home h1 {
  @apply bg-gradient-to-tl to-l-blue from-l-darkblue;
}

#career h1,
#contact h1,
#our-work h1,
#services h1,
#home h1 {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* background gradient button */
.button-linear-red {
  @apply bg-gradient-to-tl from-l-red to-l-darkred;
}

/* services cards */
.service-card-all {
  @apply w-80 lg:w-347 m-auto rounded-md relative bg-center bg-cover bg-no-repeat transition duration-300 ease-linear border-2;
}

.service-card {
  @apply scale-70 border-black;
}

.service-card-main {
  margin-left: 0;
  margin-right: 0;
}

.service-card-main {
  @apply scale-100 shadow-home-card border-white;
}

.service-card-main-between-2 {
  @apply scale-80 border-black;
}

.service-card-main-between {
  @apply scale-90 border-black;
}

.service-card-left {
  margin-right: calc((288px - (288px * 0.7)) * -1) !important;
}

.service-card-right {
  margin-left: calc((288px - (288px * 0.7)) * -1) !important;
}

.service-card-left-1 {
  margin-right: calc((288px - (288px * 0.9)) * -1) !important;
}

.service-card-right-1 {
  margin-left: calc((288px - (288px * 0.9)) * -1) !important;
}

.service-card-left-2 {
  margin-right: calc((288px - (288px * 0.8)) * -1) !important;
}

.service-card-right-2 {
  margin-left: calc((288px - (288px * 0.8)) * -1) !important;
}

.service-card-layer {
  @apply absolute top-0 bottom-0 right-0 left-0 m-auto;
}

.service-card-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 m-auto bg-opacity-20 bg-gradient-to-t via-transparent from-black z-10;
}

.service-card-text {
  @apply absolute bottom-0 inset-0 m-auto z-20 mx-3;
}

.service-card-text-description {
  @apply text-lg;
}

/* .home-card-wrapper { */
.service-card-wrapper {
  @apply transition duration-300 ease-linear;
}




.social-content li {
  display: block;
  position: relative;
}

.social-content ul ul li{
  font-size: 1rem;
  margin: 4px 0;
}

.social-content li::before{
  position: absolute;
  content: '';
  background-color: #6d7e7f;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  left: -16px;
  top: 10px;
}
.social-content ul {
  padding-left: 1rem;
}
.social-content>ul>li{
  margin-bottom: 1rem !important;
}
.c-studies li::before{
  background-color: #fff;
}
.cookieControl__BarButtons button:nth-child(1), .cookieControl__BarButtons button:nth-child(2), .cookieControl__ControlButton{
  display: none;
}
.cookieControl__BarContainer {
  max-width: 83%;
  margin: 0 auto;
}
.cookieControl__Bar button{
  border-radius: 0.375rem;
  font-weight: 600;
}
.cookies-description a{
  color: #ec4042;
  text-decoration: underline;
  background: transparent !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* .single-post-banner::after{
  content: "";
  background: rgb(3,2,10);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
} */
.single-post-featured-img{
  display: none;
  width: 0 !important;
  height: 0;
}







/* ============================================ */



.w-90{
  width: 90%;
}



/* ------------------------ 3xl ------------------------- */
@media only screen and (min-width: 1800px) {

 
}

/* ------------------------ 2xl ------------------------- */
@media only screen and (min-width: 1536px) {
  /* .container{
    max-width: 1400px;
  } */

  body{
    zoom: 120%;
  }

}


/* ------------------------- xl ------------------------- */
@media only screen and (max-width: 1280px) {
  header, .stats-wrapper{
    max-width: 100% !important;
    padding: 0 20px;
  }
  .header .btn-primary.btn-md {
    padding: 12px 24px;
  }
  .header ul li a {
    font-size: 14px;
    padding: 20px 8px;
  }

  .stats p{
    font-size: 14px;
  }

}

/* ------------------------- lg ------------------------- */
@media only screen and (max-width: 1024px) {

  h1, .heading-1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 22px;
  }
  footer>div{
    grid-template-columns: initial !important;
  }
  .review-card{
    align-items: center;
  }
  
  .stats .v-line-border{
    display:none;
  }
  .stats{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .stats-card img {
    top: 28px;
  }
  .stats-card{
    border-bottom: 1px solid #fff;
    padding: 12px 0;
  }
  .stats-card.last-item{
    border-bottom: 0;
  }
  .empowerment p {
    font-size: 22px;
  }

  .locations-map{
    position: static;
    width: 100%;
   
  }

  .vw-map::before{
    display: none;
  }

}

/* ------------------------- md ------------------------- */

@media only screen and (max-width: 767px) {
  .three-lines, .red-dots, .black-dots{
    display: none;
  }

  .border-graident-thick::before {
    border-radius: 1.8rem;
  }
  .overlapped-section {
    padding-top: 48px !important;
    margin-top: 0;
  }

  .border-graident-thick::before {
    border-radius: 1.2rem;
  }


  /* ------------------- */

  h1, .heading-1{
    font-size: 32px;
  }
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 18px;
  }
  .text-big{
    font-size: 16px;
  }
  .text-card{
    font-size: 14px;
  }
  .btn-text{
    font-size: 16px;
  }
  .empowerment .styled-text{
    display: block;
    width: max-content;
    margin: 0 auto;
  }
  .empowerment p{
    font-size: 18px;
  }
  .btn-primary.btn-lg{
    font-size: 16px;
    padding: 16px 32px;
    width: 100%;
  }
  .stats{
    border-right: 0;  
    border-bottom: 2px solid #fff;
    padding-bottom: 24px;
  }
  .stats h3{
    font-size: 26px;
  }
  .stats:last-child{
    border-bottom: 0;
    padding-bottom: 0;
  }

  .hero .content {
    padding-left: 6%;
    padding-right: 6%;
  }
  footer{
    padding: 160px 0 32px;
  }
  .form-control{
    height: 46px;
  }
  .max-w-7\/10{
    max-width: 100%;
  }
  .client-avatar-wrapper{
    width: 48px;
    height: 48px;
  }



  .center-slider .slick-center,
  .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1);

  }
  .center-slider .slick-current.slick-active{
    transform: scale(1);
  }
 

  .cta-team-pic{
    position: static;
  }

  .techs-stacks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .techs-stacks img{
    width: 48px;
  }
  
  .center-slider .slick-track {
    padding: 12px 0 32px;
  }
  .center-slider .slick-dots{
    bottom: 0;
  }

  .header ul li a {
    padding: 8px;
    color: #000;
  }

  .header li {
    display: block;
  }

  .header ul li .isActive svg{
    transform: rotate(45deg);
  } 
  .header ul li a:hover{
    color: initial;
  }
  .header ul li a:hover svg{
    transform: initial;
  }
  .header ul li a:hover svg path{
    fill: initial;
  }  

  .dropdown{
    position: static;
    display: block;
  }
  .dropdown.sm{
    position: static;
    width: 100%;
  }
  .dropdown.sm li{
    display: block;
  }


  .cs-thumbnail-wrapper {
    height: 200px;
  }
  .btn-primary.btn-md {
    padding: 12px 24px;
    font-size: 16px;
  }
  .center-two-ele-in-grid .item{
    flex: 0 0 calc(100% - 0px);
    padding: 0;
  }


}

/* ------------------------- sm ------------------------- */

@media only screen and (max-width: 640px) {
  .test{
    line-height: 0;
  }
}


