/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* add fonts here */
@import '~assets/css/fonts.css';

* {
  font-family: 'arial', sans-serif;
}

/* Setvices */

#our-work #card-list::-webkit-scrollbar,
#services #card-list::-webkit-scrollbar {
  display: none;
}

#services .card-header,
#our-work .card-header {
  @apply h-36 w-80 bg-no-repeat bg-center bg-cover relative overflow-hidden rounded-xl cursor-pointer;
}

/*===============
======BLOG======
===============*/

/* blog detail */
#text p:not(:first-child) {
  @apply mt-8;
}

#text h2 {
  @apply mt-20 text-2xl;
}

/*===============
======HOME======
===============*/
.bg-service {
  background: rgb(14, 28, 117);
  background: linear-gradient(
    49deg,
    rgba(14, 28, 117, 1) 0%,
    rgba(4, 3, 12, 1) 35%,
    rgba(4, 3, 12, 1) 65%,
    rgba(77, 1, 19, 1) 100%
  );
}

.bg-section {
  background: rgb(14, 28, 117);
  background: linear-gradient(
    49deg,
    rgba(14, 28, 117, 1) 0%,
    rgba(4, 3, 12, 1) 35%,
    rgba(4, 3, 12, 1) 65%,
    rgba(77, 1, 19, 1) 100%
  );
}

@media (min-width: 1024px) {
  .bg-service {
    background-image: url(../img/bg_home_2.png);
  }
}

/* text gradient */
.title {
  @apply bg-gradient-to-tl to-l-blue from-l-darkblue tracking-wide;
}

.title {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#career h1,
#contact h1,
#our-work h1,
#services h1,
#home h1 {
  @apply bg-gradient-to-tl to-l-blue from-l-darkblue;
}

#career h1,
#contact h1,
#our-work h1,
#services h1,
#home h1 {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* background gradient button */
.button-linear-red {
  @apply bg-gradient-to-tl from-l-red to-l-darkred;
}

/* services cards */
.service-card-all {
  @apply w-80 lg:w-347 m-auto rounded-md relative bg-center bg-cover bg-no-repeat transition duration-300 ease-linear border-2;
}

.service-card {
  @apply scale-70 border-black;
}

.service-card-main {
  margin-left: 0;
  margin-right: 0;
}

.service-card-main {
  @apply scale-100 shadow-home-card border-white;
}

.service-card-main-between-2 {
  @apply scale-80 border-black;
}

.service-card-main-between {
  @apply scale-90 border-black;
}

.service-card-left {
  margin-right: calc((288px - (288px * 0.7)) * -1) !important;
}

.service-card-right {
  margin-left: calc((288px - (288px * 0.7)) * -1) !important;
}

.service-card-left-1 {
  margin-right: calc((288px - (288px * 0.9)) * -1) !important;
}

.service-card-right-1 {
  margin-left: calc((288px - (288px * 0.9)) * -1) !important;
}

.service-card-left-2 {
  margin-right: calc((288px - (288px * 0.8)) * -1) !important;
}

.service-card-right-2 {
  margin-left: calc((288px - (288px * 0.8)) * -1) !important;
}

.service-card-layer {
  @apply absolute top-0 bottom-0 right-0 left-0 m-auto;
}

.service-card-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 m-auto bg-opacity-20 bg-gradient-to-t via-transparent from-black z-10;
}

.service-card-text {
  @apply absolute bottom-0 inset-0 m-auto z-20 mx-3;
}

.service-card-text-description {
  @apply text-lg;
}

/* .home-card-wrapper { */
.service-card-wrapper {
  @apply transition duration-300 ease-linear;
}
